.container {
  padding: 0 2rem;
  background: whitesmoke;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.logins {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.logins > button {
  padding: 0.5em 2em;
  cursor: pointer;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}